{% extends 'base.html' %}
{% load bootstrap static gravatar %}
{% block title %}Change profile | {{ request.user.get_short_name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form method="post" action="{% url 'core:profile' %}">

                {% csrf_token %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span>Your profile</span>
                            </div>
                            <div class="panel-body">
                                <div style="width: 100%; display: table">
                                    <div style="width: 85%; display: table-cell; vertical-align: middle">
                                        <div class="form-group">
                                            <label class="control-label" for="id_email">Email address</label>

                                            <div class="form-control" id="id_email">{{ request.user.email }}</div>
                                        </div>
                                    </div>
                                    <div style="width: 15%; display: table-cell; vertical-align: middle">
                                        <div style="display: block; width: 100%">
                                            <a href="https://en.gravatar.com/" target="_blank">
                                            <img style="margin: 0 auto" src="{% gravatar_url request.user.email 60 %}"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="bg-info">To change your avatar visit <a href="https://en.gravatar.com/" target="_blank">gravatar.com</a></p>
                                </div>
                                {{ profile_form|bootstrap }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span>Your experience in programming languages</span>
                            </div>
                            <div class="panel-body">
                                <div class="programming languages container-fluid">
                                    {{ programming_languages_form.management_form }}
                                    {% for form in programming_languages_form.forms %}
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <p>Your months of experience in programming with <label>{{ form.language.value }}</label></p>
                                                {{ form.language }}
                                                {{ form.proficiency|bootstrap_inline }}
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <p>In range of <strong>1-5</strong> specify your proficiency in programming in <label>{{ form.language.value }}</label></p>
                                                {{ form.self_assessment|bootstrap_inline }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="well">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}