{% extends 'base.html' %}
{% load static bootstrap %}

{% block title %}Register{% endblock %}

{% block extra_js %}
{{ block.super }}

    <script type="text/javascript">
    $(function () {
        var $proficiency = $('input[id$="-proficiency"]');
        var $submit = $('button[type=submit]');
        var $zero_alert = $('.zero-alert');
        $zero_alert.hide();
        $proficiency.on('change', function () {
            var zero_count = 0;
            $proficiency.each(function (_) {
                if ($(this).val() == 0) {
                    zero_count += 1;
                    console.log('found a zero');
                }
            });
            if (zero_count < $proficiency.length) {
                $submit.removeClass('disabled');
                $zero_alert.hide();
            } else {
                $submit.addClass('disabled');
                $zero_alert.show();
            }
        })
    });
    </script>
{% endblock %}

{% block body %}
    <form method="post" action="{% url 'core:register' %}">
        {% csrf_token %}
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <h1 style="display: inline; margin-right: 20px;">Register</h1><span class="text-muted">or <a href="{% url 'core:login' %}">Log in</a> here if you already have an account</span>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span>Your profile</span>
                </div>
                <div class="panel-body">
                    {{ register_form|bootstrap }}

                    <p class="bg-info" style="padding: 15px;">To change your avatar visit <a href="https://en.gravatar.com/" target="_blank">gravatar.com</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Your experience in programming languages</span>
                </div>
                <div class="panel-body">
                    <div class="programming languages container-fluid">
                        {{ programming_languages.management_form }}
                        {% for form in programming_languages.forms %}
                            <div class="form-group">
                                <p>Your months of experience in programming with <label>{{ form.language.value }}</label></p>
                                {{ form.language }}
                                {{ form.proficiency|bootstrap_inline }}
                            </div>
                            <div class="form-group">
                                <p>In range of <strong>1-5</strong> specify your proficiency in programming in <label>{{ form.language.value }}</label></p>
                                {{ form.self_assessment|bootstrap_inline }}
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <div class="well">
                <p class="bg-warning zero-alert">You should have experience in programming with at least one language.</p>
                <button type="submit" class="btn btn-primary disabled">Register</button>
                <span>Already have an account? <a href="{% url 'core:login' %}">Log in</a> here</span>
            </div>
        </div>
    </form>
{% endblock %}