{% extends 'base.html' %}
{% load static bootstrap %}

{% block title %}Register{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        window.ratingOptions = {
            size: 'xs', stars: 10,
            min: 1, max: 10, step: 1,
            showClear: false, showCaption: false
        };
    </script>

    <script src="{% static 'jquery.formset.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.one_formset').formset({
                addCssClass: 'btn btn-warning btn-lg add-button',
                deleteCssClass: 'btn btn-error btn-lg remove-button',
                prefix: '{{ programming_languages.prefix }}',
                added: function (row) {
                    $(row).find('input[type=number]').rating(ratingOptions);
                }
            });
        });
    </script>
    <script src="{% static 'bootstrap-star-rating/js/star-rating.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".programming.languages input[type=number]").rating(ratingOptions);
        });
    </script>
{% endblock %}

{% block extra_css %}
    <link href="{% static 'bootstrap-star-rating/css/star-rating.min.css' %}" media="all" rel="stylesheet"
          type="text/css"/>
{% endblock %}

{% block body %}
    <div class="col-sm-12 col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h1>Register</h1>

        <form method="post" action="{% url 'core:register' %}">
            {% csrf_token %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span>Your profile</span>
                </div>
                <div class="panel-body">
                    {{ register_form|bootstrap }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Programming languages that you know</span>
                </div>
                <div class="panel-body">
                    <div class="programming languages container-fluid">
                        {{ programming_languages.management_form }}
                        {% for form in programming_languages.forms %}
                            <div class="col-lg-4 one_formset">
                                <div class="panel panel-default">
                                    <div class="panel-body">{{ form|bootstrap }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="well">
                <button type="submit" class="btn btn-primary">Register</button>
                <span>Already have an account? <a href="{% url 'core:login' %}">Log in</a> here</span>
            </div>
        </form>
    </div>
{% endblock %}