{% extends 'base.html' %}
{% load static bootstrap %}

{% block title %}Register{% endblock %}

{% block body %}
    <form method="post" action="{% url 'core:register' %}">
        {% csrf_token %}
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <h1 style="display: inline; margin-right: 20px;">Register</h1><span class="text-muted">or <a href="{% url 'core:login' %}">Log in</a> here if you already have an account</span>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span>Your profile</span>
                </div>
                <div class="panel-body">
                    {{ register_form|bootstrap }}

                    <p class="bg-info" style="padding: 15px;">To change your avatar visit <a href="https://en.gravatar.com/" target="_blank">gravatar.com</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Your experience in programming languages</span>
                </div>
                <div class="panel-body">
                    <div class="programming languages container-fluid">
                        {{ programming_languages.management_form }}
                        {% for form in programming_languages.forms %}
                            <div class="form-group">
                                <p>Your months of experience in programming with <label>{{ form.language.value }}</label></p>
                                {{ form.language }}
                                {{ form.proficiency|bootstrap_inline }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <div class="well">
                <button type="submit" class="btn btn-primary">Register</button>
                <span>Already have an account? <a href="{% url 'core:login' %}">Log in</a> here</span>
            </div>
        </div>
    </form>
{% endblock %}