<div class="panel panel-default">
    <div class="panel-heading">
        <span>Methods with least summaries</span>
    </div>

    <ul class="list-group">
        {% for snippet in fewest_summaries %}
            <li class="list-group-item">
                <a href="{% url 'core:show_snippet' language=snippet.language.name name=snippet.name %}">{{ snippet.name }}</a>
                <span class="label label-info">{{ snippet.language.name }}</span>
            </li>
        {% endfor %}
    </ul>
</div>