{% load static gravatar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-material-design/dist/js/ripples.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-material-design/dist/js/material.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'countdown.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap-material-design/dist/css/bootstrap-material-design.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap-material-design/dist/css/ripples.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}"/>
    <script type="text/javascript">
        $(function () {
            $('div[role=progressbar]').each(function (_) {
                var $self = $(this);
                min = $self.attr('aria-valuemin');
                now = $self.attr('aria-valuenow');
                max = $self.attr('aria-valuemax');
                if (max == "inf") {
                    $self.parent().parent().hide();
                    return;
                }
                if (min == "-inf") {
                    min = 0;
                }
                precent = 100 * (now - min) / (max - min);
                precent = Math.max(0, precent);
                $self.css('width', precent + '%');
            });

            $('#pts-to-level-up').each(function (_) {
                var $self = $(this);
                var $pg = $($self.data('progress-bar'));

                now = $pg.attr('aria-valuenow');
                max = $pg.attr('aria-valuemax');

                if (max != "inf") {
                    $self.html((max - now) + ' points to <em>{{ request.user.next_level }}</em>');
                }
            });

            $('nav ul.nav li').each(function (_) {
                $self = $(this);
                $link = $self.children('a');
                href = $link.attr('href');
                var title = $link.attr('title');

                if (window.location.pathname == href) {
                    $self.addClass('active').addClass('selected');
                    {#                    $link.append('<span>' + title + '</span>')#}
                }
            });


            var $timer = $('.timer');
            if ($timer && $timer.length) {
                console.log('count down :)');
                $timer.countdown('2016/4/28 23:59:59', function(event) {
                    $(this).html(event.strftime('Time left: %D days %H:%M:%S'));
                });
            }
            $('[data-toggle="tooltip"]').tooltip();
            $.material.init();
        });
    </script>
    {% block extra_js %}{% endblock %}
    {% block extra_css %}{% endblock %}
    <style>
        body {
            padding-top: 80px;
        }
        .progress {
            margin-bottom: 0;
        }
        .nav-tabs .active {
            background-color: rgba(255, 255, 255, 0.2);
        }
        ul.badges {
            display: inline-block;
            list-style: none;
            padding: 0;
        }
        ul.badges li {
            margin: 0 10px;
            display: inline-block;
        }
    </style>
</head>
<body>
{% if request.user.is_authenticated %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li style="margin-top: 10px;">
                    <a style="padding: 0;" href="{% url 'core:user_profile' username=request.user.username %}">
                        <img style="border-radius: 50%;" src="{% gravatar_url request.user.email 40 %}" />
                        <strong>{{ request.user.get_short_name }}</strong>
                    </a>
                </li>
{#                <li><a href="/">Home</a></li>#}
                <li><a style="padding-top: 13px; padding-bottom: 13px;" href="{% url 'core:random' %}" data-toggle="tooltip" data-placement="bottom" title="Summarizing"><i class="fa fa-2x fa-terminal"></i></a></li>
                <li><a style="padding-top: 13px; padding-bottom: 13px;" href="{% url 'core:evaluating' %}" data-toggle="tooltip" data-placement="bottom" title="Evaluating"><i class="fa fa-2x fa-list-alt"></i></a></li>
{#                <li><a href="{% url 'core:profile' %}">Profile</a></li>#}
                <li><a style="padding-top: 13px; padding-bottom: 13px;" href="{% url 'core:leaderboard' %}" data-toggle="tooltip" data-placement="bottom" title="Leaderboard"><i class="fa fa-2x fa-trophy"></i></a></li>
                {% if request.user.can_submit_code %}
                <li><a style="padding-top: 13px; padding-bottom: 13px;" href="{% url 'core:submit_code' %}" data-toggle="tooltip" data-placement="bottom" title="Submit code"><i class="fa fa-2x fa-upload"></i></a></li>
                {% endif %}
                {% if request.user.is_staff %}
                    <li><a style="padding-top: 13px; padding-bottom: 13px;" href="{% url 'admin:index' %}" data-toggle="tooltip" data-placement="bottom" title="Manage Site"><i class="fa fa-2x fa-tachometer"></i></a></li>
                {% endif %}
                <li><a style="padding-top: 13px; padding-bottom: 13px;" href="{% url 'core:help' %}" data-toggle="tooltip" data-placement="bottom" title="Help"><i class="fa fa-2x fa-question"></i></a></li>
                <li><a class="timer"></a></li>
            </ul>
        <div class="nav navbar-nav navbar-right">
            <span style="margin-right: 30px" class="hide-sm hide-xs"><em>{{ request.user.level }}</em></span>
            <div style="display: inline-block; width: 300px; color: whitesmoke; vertical-align: middle">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ request.user.score }}" aria-valuemin="{{ request.user.current_level_range.0 }}" aria-valuemax="{{ request.user.current_level_range.1 }}"></div>
                </div>
                <span id="pts-to-level-up" data-progress-bar=".progress-bar"></span>
            </div>
{#            <div class="navbar-form" style="display: inline-block">#}
            <div style="display: inline-block">
                <a href="{% url 'core:logout' %}" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
</nav>
{% endif %}
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
