{% extends 'base.html' %}
{% load static bootstrap %}
{% block title %}Evaluation{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Methods for evaluating comments</span>
                </div>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Unevaluated Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for snippet in snippets %}
                        <tr>
                            <td><span class="label label-info">{{ snippet.language.name }}</span><a
                                    href="{% url 'core:evaluating_snippet' language=snippet.language.name name=snippet.name %}">{{ snippet.name }}</a>
                            </td>
                            <td>{{ snippet.real_comment_count }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}