{% extends 'base.html' %}

{% block title %}Help{% endblock %}

{% block extra_css %}
{{ block.super }}
    <style>
    #fa {
        text-align: right;
        direction: rtl;
    }
    </style>
{% endblock %}

{% block extra_js %}
{{ block.super }}
    <script type="text/javascript">
    $(function () {
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show');
        });
    });
})
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#en" aria-controls="en" role="tab" data-toggle="tab">English</a></li>
            <li role="presentation"><a href="#fa" aria-controls="fa" role="tab" data-toggle="tab">فارسی</a>
            </li>
        </ul>
        <div class="panel">
            <div class="panel-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="en">

                    <h1>Help</h1>
                    <h2>What is method summary?</h2>
                    <p>Method summary is a high level abstraction about what the method does. It doesn't include details.</p>
                    <h2>Game Description</h2>
                    <p>This game has only 8 levels as following:</p>
                    <ol>
                        <li>Starting to see the light</li>
                        <li>Taking your first steps</li>
                        <li>Good job! Keep on.</li>
                        <li>Middle of the way</li>
                        <li>Code squasher</li>
                        <li>Point worm</li>
                        <li>Proficient code summarizer</li>
                        <li>Monster slayer</li>
                    </ol>
                    <p>The game starts with easier methods and then random methods with random difficulty will be shown. Having these 8 levels doesn't mean that if you reach to level 8 you are winner. This game is based on the scores which you and other players will receive.</p>
                    <p>Top 10 players in <a href="{% url 'core:leaderboard' %}">Global Leaderboard</a> and top 3 in <a href="{% url 'core:leaderboard' %}?local=1">Local Leaderboards</a> are winners. <a href="{% url 'core:leaderboard' %}?local=1">Local Leaderboards</a> are defined based on the programming proficiency that players have.</p>
                    <h3>Game Elements</h3>
                    <h4>1.Player Profile</h4>
                    <p>You can see your informations such as your level, Xps, history of scores and badges you have collected.</p>
                    <h4>2.Summarization</h4>
                    <p>You can see random snippets or select methods directly. Each method has a score(5 or 10 depends on the method difficulty)that if you are one of the top three people who are commenting on the method you will get double score. You can also see the number of comments on each method. In random mode of method selection, if you a skip a method you will lose a point. Some of difficult methods are star methods that if you comment on three of them you will receive star method badge.</p>
                    <p>Hint: Your summaries will be evaluated by others and may decrease your points.</p>
                    <h4>3.Evaluation</h4>
                    <p>You can evaluate other comments by give a positive or negative feedback. Evaluation is just in terms of being relevance or non-relevance. By an evaluation you will receive a point and if your feedback was positive a person whom comment is for will receive a point otherwaise lose a point.</p>
                    <p>Hint: Your evaluations are captured.</p>
                    <h4>4.Leaderboard</h4>
                    <p>You can see top 10 and top 3 in global and local leaderboard.</p>
                    <h4>5.Submit code</h4>
                    <p>This menu will be activated for you and you can submit your own code if you reach to level 4. If it is approved, you can see the method in the game.</p>
                    <p>You can collect badges by submitting codes.</p>
                    <h4>6.Badges</h4>
                    <p>There are 18 badges that you can get along the game. By the end of the game based on your badges, you will be awarded.</p>
                    <h4>7.Mystery box</h4>
                    <p>You will receive random mystry box in different levels with random gifts such as 10xp, 0.25 extra mark, badge and empty.</p>
                    <h4>Evaluatoin Call of summary</h4>
                    <p>We would be grateful if you could complete <a href="{% url 'core:survey' %}" target="_blank">this survey</a> about the website.</p>

 		    <p class="text-info">If you had any problems with the site please contact <a href="mailto:shr.badihi@gmail.com">shr.badihi@gmail.com</a></p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="fa">
                        <h1>راهنما</h1>
                        <h2>خلاصه&zwnj;ی متد چیست؟</h2>
                        <p> خلاصه&zwnj;ی یک متد، توصیف مختصر و سطح بالایی از عملکرد متد است و شامل جزئیات سطح پایین برنامه&zwnj;نویسی نمی&zwnj;شود. با استفاده از خلاصه&zwnj;ی یک متد می&zwnj;توان مشخص کرد که آیا این متد مرتبط به ویژگی مورد نظر برنامه&zwnj;نویس هست یا نه، و در صورت پاسخ مثبت، برنامه&zwnj;نویس می&zwnj;تواند با جزئیات بیشتری متد را بررسی کند. </p>
                        <h2>راهنمای بازی</h2>
                        <p>بازی call of summary از 8 مرحله به ترتیب زیر تشکیل شده است:</p>
                        <ol>
                            <li>Starting to see the light</li>
                            <li>Taking your first steps</li>
                            <li>Good job! Keep on.</li>
                            <li>Middle of the way</li>
                            <li>Code squasher</li>
                            <li>Point worm</li>
                            <li>Proficient code summarizer</li>
                            <li>Monster slayer</li>
                        </ol>
                        <p>در مرحله&zwnj;ی اول و دوم متدها&zwnj;یی با پیچیدگی کم&zwnj;تر برای آشنایی کاربر با فضای بازی نشان داده&zwnj; می&zwnj;شود و در مراحل بعدی متد&zwnj;ها با پیچیدگی بیشتر به&zwnj;صورت تصادفی به کاربر نشان داده می&zwnj;شود. </p>
                        <p>این بازی جزء دسته بازی&zwnj;های امتیازی است و در نهایت بازیکنان با امتیاز بالا برنده&zwnj;ی بازی هستند. بنابراین رسیدن به مرحله&zwnj;ی 8 مستلزم برنده شدن در این بازی نیست. رتبه بندی کلی و جزئی می&zwnj;تواند نشان&zwnj;دهنده&zwnj;ی برندگان این بازی باشد. </p>
                        <h4>پروفایل کاربر</h4>
                        <p>در این قسمت شما می&zwnj;توانید پروفایل خود را که شامل، اطلاعاتی مانند مرحله، امتیاز، نشان&zwnj;های گرفته&zwnj;شده و هم&zwnj;چنین پیشینه&zwnj;ی امتیازهای کسب&zwnj;شده تاکنون است، مشاهده کنید.</p>
                        <h4>خلاصه&zwnj;سازی کد</h4>
                        <p>در این بخش متدها به صورت تصادفی به شما نشان داده می&zwnj;شود که می&zwnj;توانید به صورت مستقیم نیز متدها را از جدول سمت راست صفحه انتخاب کنید. در صورت skip کردن متدها در حالت تصادفی، 1 امتیاز از مجموع امتیازات شما کسر می&zwnj;شود. هر متد بر حسب پیچیدگی که دارد امتیاز 5 و 10 را دارد که در صورتی که جزء سه نفر اولی باشید که بر روی این متد خلاصه می&zwnj;نویسید، دوبرابر این امتیاز را دریافت خواهید کرد. هم&zwnj;چنین می&zwnj;توان تعداد خلاصه&zwnj;های نوشته&zwnj;شده بر روی این متد را نیز در بالا سمت راست آن مشاهده کرد. تعدادی از متدهای پیچیده، متدهای ستاره&zwnj;دار هستند که در صورت پاسخ به بیش از سه متد ستاره&zwnj;دار می&zwnj;توانید نشان مربوط به آن را دریافت کنید. 
<br>
پی&zwnj;نوشت: تا حد ممکن غلط&zwnj;های املایی موجود در خلاصه&zwnj;ی خود را به&zwnj; جز مواردی مانند نام متغیرها، اصلاح کنید.
</p>
                        <p>توجه: خلاصه&zwnj;هایی که نوشته می&zwnj;شود، در بخش ارزیابی توسط بازیکنان ارزیابی می&zwnj;شود و در صورت نامرتبط بودن آن خلاصه، امتیاز داد&zwnj;ه&zwnj;شده پس گرفته خواهد شد. </p>
                        <h4>ارزیابی خلاصه&zwnj;ها</h4>
                        <p>در این بخش، شما می&zwnj;توانید خلاصه&zwnj;&zwnj;های دیگر بازیکنان را ارزیابی کنید، که این ارزیابی تنها بر معیار مرتبط بودن و یا نبودن آن خلاصه انجام می&zwnj;شود. هر ارزیابی انجام&zwnj;شده 1 امتیاز را برای ارزیابی&zwnj;کننده دارد و هم&zwnj;چنین در صورت مثبت بودن 1 امتیاز به مجموع امتیاز&zwnj;های خلاصه&zwnj;کننده اضافه می&zwnj;کند و در صورت منفی بودن یک امتیاز از آن کسر می&zwnj;شود.</p>
                        <h4>رتبه&zwnj;بندی </h4>
                        <p>در این صفحه شما می&zwnj;توانید 10 نفر برتر در کل بازی را همراه با امتیازها و مرحله و نشان&zwnj;های گرفته&zwnj;&zwnj;شده&zwnj;ی آن&zwnj;ها مشاهده کنید. رتبه&zwnj;بندی جزئی بر اساس سطح مهارت افراد در زبان&zwnj;های برنامه&zwnj;نویسی انجام می&zwnj;شود و 3 نفر اول که در سطح مهارت شما هستند در این رتبه&zwnj;بندی نشان داده&zwnj; می&zwnj;شوند.</p>
                        <p>در پایان بازی، 10 نفر اول در رتبه&zwnj;بندی کلی و 3 نفر اول در رتبه&zwnj;بندی&zwnj;های جزئی برنده&zwnj;ی بازی محسوب می&zwnj;شوند و جایزه&zwnj;ی نهایی را دریافت می&zwnj;کنند. </p>
                        <h4>ثبت کد</h4>
                        <p>هنگامی که شما به مرحله&zwnj;ی 4 یعنی middle of the way برسید، این گزینه در کنار منوی ارزیابی برای شما فعال خواهد شد و شما می&zwnj;توانید متد خود را ثبت کنید. این متد بعد از بررسی در صورت قبولی، به بازی اضافه خواهد شد. 
شما می&zwnj;توانید نشان&zwnj;های مختلفی را از این قسمت دریافت کنید.
</p>
                        <h4>Mystery box</h4>
                        <p>در طول بازی، در مراحل مختلف mystery boxهای مختلفی به شما نشان داده خواهد شد که به صورت تصادفی در آن 4 گزینه وجود دارد:</p>
                         <ol>
                            <li>10 امتیاز اضافه به مجموع امتیازها</li>
                            <li>0.25 نمره&zwnj; در درس مربوطه</li>
                            <li>یک نشان با عنوان استاد رایانه</li>
                            <li>پوچ </li>
                        </ol>
                        <h4>نشان&zwnj;ها</h4>
                        <p>تعداد 18 نوع نشان در بازی وجود دارد که طول بازی نسبت به عملکرد شما، می&zwnj;توانید آن&zwnj;ها را دریافت کنید. در انتهای بازی بر اساس تعداد نشان&zwnj;های جمع&zwnj;آوری&zwnj;شده، جایزه دریافت خواهید کرد.</p>
                         <h4>ارزشیابی call of summary</h4>
                        <p>از مرحله&zwnj;ی 2 به بعد شما می&zwnj;توانید <a href="{% url 'core:survey' %}" target="_blank">فرم ارزشیابی</a> این بازی را مشاهده کنید.</p>
                        
			<p class="text-info">اگر در استفاده از سایت به مشکلی برخوردید لطفا با آدرس <a href="mailto:shr.badihi@gmail.com">shr.badihi@gmail.com</a> تماس حاصل کنید.</p>
                    </div>
                </div>
                <div align="center">
                   <iframe src="http://www.aparat.com/video/video/embed/videohash/4LFX6/vt/frame" height="360" width="640" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" ></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
