<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information Collector</title>
    {% include 'header.html' %}
</head>
<body>
<div class="container">
    {% if request.user.is_authenticated %}
    <a href="{% url 'core:logout' %}" class="btn">Logout</a>
    {% else %}
    <a href="{% url 'core:login' %}" class="btn btn-primary">Login</a> or <a href="{% url 'core:register' %}" class="btn">Register</a>
    {% endif %}
    {% include 'side_info.html' %}
</div>
</body>
</html>