{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login in site</title>
    {% include 'header.html' %}
</head>
<body>
<div class="container">
    <h1>Login</h1>
    <form method="post" action="{% url 'core:login' %}">
        <div class="panel panel-primary">
            <div class="panel-body">
                {% csrf_token %}
                {{ login_form | bootstrap }}
            </div>

            <div class="panel-footer">
                <button type="submit" class="btn btn-primary">Login</button>
                <span>Don't have an account? <a href="{% url 'core:register' %}">Sign up</a> here!</span>
            </div>
        </div>
    </form>
</div>
</body>
</html>