{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    {% include 'header.html' %}

    <script type="text/javascript">
        window.ratingOptions = {
            size: 'xs', stars: 10,
            min: 1, max: 10, step: 1,
            showClear:false, showCaption:false
        };
    </script>

    <script src="{% static 'jquery.formset.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.one_formset').formset({
                addCssClass: 'btn btn-warning btn-lg add-button',
                deleteCssClass: 'btn btn-error btn-lg remove-button',
                prefix: '{{ programming_languages.prefix }}',
                added: function (row) {
                    $(row).find('input[type=number]').rating(ratingOptions);
                }
            });
        });
    </script>

    <link href="{% static 'bootstrap-star-rating/css/star-rating.min.css' %}" media="all" rel="stylesheet" type="text/css" />
    <script src="{% static 'bootstrap-star-rating/js/star-rating.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".programming.languages input[type=number]").rating(ratingOptions);
        });
    </script>
</head>
<body>
<div class="container">
    <h1>Register</h1>
    <div>
        <form method="post" action="{% url 'core:register' %}">
            {% csrf_token %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span>Your profile</span>
                </div>
                <div class="panel-body">
                    {{ register_form|bootstrap }}
                </div>
            </div>
            <div class="panel panel-default">
            <div class="panel-heading">
                <span>Programming languages that you know</span>
            </div>
            <div class="panel-body">
                <div class="programming languages container-fluid">
                    {{ programming_languages.management_form }}
                    {% for form in programming_languages.forms %}
                        <div class="col-lg-4 one_formset">
                            <div class="panel panel-default">
                                <div class="panel-body">{{ form|bootstrap }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            </div>
            <div class="well">
                <button type="submit" class="btn btn-primary">Register</button>
                <span>Already have an account? <a href="{% url 'core:login' %}">Log in</a> here</span>
            </div>
        </form>
    </div>
</div>
</body>
</html>