{% extends 'base.html' %}
{% load static bootstrap %}
{% block title %}Code snippet | {{ snippet.name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'prism.css' %}" />
<style>
.snippet-comment-count {
    border-left: 110px solid transparent;
    border-top: 110px solid #fa3455;
    width: 0;
    height: 0;
    position: absolute;
    top: 41px;
    right: 15px;
    opacity: 0.4;

    transition: ease-in 0.3s;
    -moz-transition: ease-in 0.3s;
    -o-transition: ease-in 0.3s;
}

.snippet-comment-count:hover {
    opacity: 1;
}

.snippet-comment-count span {
    position: relative;
    top: -100px;
    left: -63px;
    color: whitesmoke;
    font-weight: bold;
    text-align: right;
}

.bg-info {
    padding: 15px;
    margin: -15px -15px 15px -15px;
}
.mystery_box {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: 0;
    padding: 200px 100px;
    width: 100%;
    height: 100%;
    z-index: 100000;

    -webkit-transition:background 1s;
    -moz-transition:background 1s;
    -o-transition:background 1s;
    transition:background 1s
}

.mystery_box.bg1 {
    background: rgba(239, 234, 67, 0.99);
}

.mystery_box.bg2 {
    background: rgba(239, 234, 67, 0.60);
}
</style>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'prism.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            var $wordCount = $('#word_count');
            var $wordCountWrapper = $('#word_count_text');
            var $wordCountWarning = $('#word_count_warning');
            var $submit = $('button[type=submit].btn-primary');

            $wordCountWarning.hide();

            function disableSubmit() {
                $submit.addClass('disabled').attr('disabled', 'disabled');
            }

            function enableSubmit() {
                $submit.removeClass('disabled').removeAttr('disabled');
            }

            var updateCounter = function () {
                var words = (function (val) {
                    if (val !== "") {
                        return $.trim(val).replace(/\s+/g, " ").split(" ").length;
                    } else {
                        return 0;
                    }
                })($(this).val());

                $wordCount.html(words);
                if (words > 30 || words < 3) {
                    $wordCountWrapper.removeClass('text-info').addClass('text-warning');
                    if (words > 40 || words < 3) {
                        $wordCountWarning.show();
                        disableSubmit();
                    } else {
                        $wordCountWarning.hide();
                        enableSubmit();
                    }
                } else {
                    $wordCountWrapper.add('text-info').removeClass('text-warning');
                    $wordCountWarning.hide();
                    enableSubmit();
                }
            };

            $('textarea')
                    .change(updateCounter)
                    .focus(updateCounter)
                    .blur(updateCounter)
                    .keyup(updateCounter)
                    .click(updateCounter);

            {% if mystery_box %}
            $('.mystery-description').removeClass('hide').fadeOut(0);
            $('body').css('overflow-y', 'hidden');
            $('.mystery_box a.btn-info').on('click', function () {
                $(this).remove();
                $('.mystery-description').fadeIn(1000);
                $('.mystery_box').removeClass('bg1').addClass('bg2');
            });
            $('.mystery_box a.btn-danger').on('click', function () {
                $('.mystery_box').fadeOut(400, function () {
                    $(this).remove();
                    $('body').css('overflow-y', 'scroll');
                });
            });
            {% endif %}
        });
    </script>
{% endblock %}
{% block body %}
{% if mystery_box %}
    <div class="mystery_box bg1">
        <div style="margin: 40px auto" align="center">
            <h1>You've got a mystery box!!</h1>
            <a class="btn btn-info">Click to see what is in it!!</a>
            <h4 class="mystery-description hide">
                {% if mystery_box == 'nill' %}
                    It was empty :(
                {% else %}
                    There is {% if mystery_box == 'badge' %}a badge{% elif mystery_box == 'score' %}0.25 score{% elif mystery_box == 'xppoints' %}10XP points{% endif %} in it!
                {% endif %}
            </h4>
            <a class="btn btn-danger btn-raised mystery-description hide">Got it!</a>
        </div>
    </div>
{% endif %}
{% with nc=snippet.n_comments %}
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <form action="{% url 'core:submit_snippet' %}" method="post">
                <div class="panel {% if snippet.is_starred %}panel-warning{% else %}panel-primary{% endif %}">
                    <div class="panel-heading">
                        <span>#{{ order }} {{ snippet.name }}</span>&nbsp;
                        <span class="label label-info">{{ snippet.language.name }}</span>
                        {% if nc != 0 %}<span class="pull-right">{{ nc }} comment{{ nc|pluralize }}</span>{% endif %}
                    </div>

                    <div class="panel-body">
                        {% if is_double %}<p class="snippet-comment-count"><span>DOUBLE SCORE!</span></p>{% endif %}
                        <p class="bg-info">
                            {% if snippet.score == snippet_score %}
                            You will get <strong>{{ snippet.score }}xp points</strong> for summarizing this method.
                            {% else %}
                            You will get a minimum of <strong>{{ snippet.score }}xp points</strong> and a maximum <strong>{{ snippet_score }}xp points</strong> for summarizing this method!
                            {% endif %}
                        </p>
                        <p><strong>Read the following code carefully:</strong></p>

                        <pre class="language-{% if snippet.language.name == 'java' %}java{% else %}clike{% endif %}"><code>{{ snippet.code }}</code></pre>

                        <p><strong>What does this code do?</strong></p>


                        {% csrf_token %}
                        <input type="hidden" name="snippet" value="{{ snippet.pk }}"/>
                        {% if next_url %}
                            <input type="hidden" name="next" value="{{ next_url }}"/>
                        {% endif %}
                        {{ comment_form|bootstrap }}
                        <p id="word_count_text" class="text-info">Approximate word count: <span id="word_count">0</span>
                        </p>

                        <p id="word_count_warning" class="text-danger">
                            This seems to be too short or too long! Summaries should have at least 3 and at most 40 words.
                        </p>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        {% if next_url and available_skips > 0 %}
                            or
                            <input class="btn" type="submit" name="skip" value="Try another one"/>
                            ({{ available_skips }} skip{{ available_skips|pluralize }} left)
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 hidden-xs hidden-print">
            {% include 'side_info.html' %}
        </div>
    </div>
{% endwith %}
{% endblock %}