{% extends 'base.html' %}
{% load bootstrap %}
{% block header %}Code snippet | {{ snippet.name }}{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $(function () {
            var $wordCount = $('#word_count');
            var $wordCountWrapper = $('#word_count_text');
            var $wordCountWarning = $('#word_count_warning');
            var $submit = $('button[type=submit].btn-primary');

            $wordCountWarning.hide();

            var updateCounter = function () {
                var words = (function (val) {
                    if (val !== "") {
                        return $.trim(val).replace(/\s+/g, " ").split(" ").length;
                    } else {
                        return 0;
                    }
                })($(this).val());

                $wordCount.html(words);
                if (words > 30) {
                    $wordCountWrapper.removeClass('text-info').addClass('text-warning');
                    if (words > 40) {
                        $wordCountWarning.show();
                        $submit.addClass('disabled');
                    } else {
                        $wordCountWarning.hide();
                        $submit.removeClass('disabled');
                    }
                } else {
                    $wordCountWrapper.add('text-info').removeClass('text-warning');
                    $wordCountWarning.hide();
                }

            };

            $('textarea')
                    .change(updateCounter)
                    .focus(updateCounter)
                    .blur(updateCounter)
                    .keypress(updateCounter)
                    .click(updateCounter);
        });
    </script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            <form action="{% url 'core:submit_snippet' %}" method="post">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span>#{{ order }} {{ snippet.name }}</span>&nbsp;
                        <span class="label label-info">{{ snippet.language.name }}</span>
                    </div>
                    <div class="panel-body">
                        <p><strong>Read the following code carefully:</strong></p>

                        <pre>{{ snippet.code }}</pre>

                        <p><strong>What does this code do?</strong></p>


                        {% csrf_token %}
                        <input type="hidden" name="snippet" value="{{ snippet.pk }}"/>
                        {% if next_url %}
                            <input type="hidden" name="next" value="{{ next_url }}"/>
                        {% endif %}
                        {{ comment_form|bootstrap }}
                        <p id="word_count_text" class="text-info">Approximate word count: <span id="word_count">0</span>
                        </p>

                        <p id="word_count_warning" class="text-danger">
                            This seems to be a long summary!
                        </p>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        {% if next_url and available_skips > 0 %}
                            or
                            <input class="btn" type="submit" name="skip" value="Try another one"/>
                            ({{ available_skips }} skip{{ available_skips|pluralize }} left)
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 hidden-xs hidden-print">
            {% include 'side_info.html' %}
        </div>
    </div>
{% endblock %}