{% extends 'base.html' %}
{% load static bootstrap %}
{% block title %}Code snippet | Submit New{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
            {% if saved %}
                <h4>Thanks for submitting your code snippet!</h4>
                <p>This snippet will be available for summarising after moderation evaluation and scoring.</p>
                <p><a href="{% url 'core:submit_code' %}">Submit another one</a></p>
            {% else %}
            <form action="{% url 'core:submit_code' %}" method="post">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span>Add a new snippet</span>
                    </div>

                    <div class="panel-body">

                        {% csrf_token %}
                        {{ form|bootstrap }}

                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4 hidden-xs hidden-print">
            {% include 'side_info.html' %}
        </div>
    </div>
{% endblock %}